//vidPlayer.css
body{
  
}

.player {
    border: solid 1px black;
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: white;
    z-index: 100;

    height: 360px;
    margin-top: -200px;

    width: 640px;
    margin-left: -300px;
}
